body {
    background-image: url("../images/cheetah.jpg");
    background-size: cover; 
    font-family: 'Questrial', sans-serif;
    
}

.jumbotron {
    background-color: black;
    color: orange;
    align-content: center;
}

.panel-title {
    font-size: 50px; 
}

.timer {
    font-size: 21px; 
}

.wrapper {
    position: relative;
    left: 20%;
    right: 30%; 
}

.panel-heading {
    background-color: black !important;
    color: orange !important;
}

.panel-body {
    background-color: burlywood !important;
    color: black !important;
}

.top-title {
    height: 100px !important;
    width: 100% !important; 
    background-color: black !important;
    color: orange !important;
}

#score {
    height: 300px;
    width: 400px;
    background-color: yellowgreen; 
    font-family: 'Questrial', sans-serif;
    border: 5px solid black; 
    font-size: 25px;
    text-align: center; 
    position: absolute;
    left: 35%;
    top: 25%; 
    line-height: 50px; 
    
}

.title {
    position: fixed; 
    z-index: 10;
    width: 81%; 
    text-align: center;
}


#start, .submit {
    width: 100px;
    height: 60px; 
    font-size: 20px;
    font-weight: bold; 
    border: 2px solid black; 
    color: black; 
    padding: 5px; 
    text-decoration: none; 
    background-color: orange;  

}

#gamestart {
    height: 400px; 
}

@media (max-width: 1068px) {

    
    .question1 {
        padding-top: 20px; 
    } 

    .wrapper {
        position: relative;
        left: 10%;
        right: 30%; 
        max-width: 90%; 
    }

}

@media (max-width: 520px) {

    
    .question1 {
        padding-top: 20px; 
    } 

    .wrapper {
        position: relative;
        left: 5%;
        right: 5%; 
    }

}

